<mat-sidenav-container class="main-sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="main-sidenav">
    <nav class="sidenav">
      <div class="logo">
        <img src="./../../../assets/images/linklive_logo.svg" alt="LinkLive logo">
      </div>
      <mat-divider></mat-divider>

      <ul class="menu-list">
        <li class="menu-item chart-item active"><a class="menu-link">Forecast</a></li>
        <mat-divider></mat-divider>
        <li class="menu-item calendar-item"><a class="menu-link">Item #2</a></li>
        <mat-divider></mat-divider>
      </ul>
      <mat-divider></mat-divider>

      <div class="logout" [routerLink]="['/login-page']">
        <img src="./../../../assets/images/logout_icon.svg" alt="Logout button logo">
        <span>Log Out</span>
      </div>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content class="main-sidenav-content">
    <!--<p>content, charts, etc.</p>
    <button
      mat-stroked-button
      *ngIf="sidenav.opened"
      (click)="sidenav.toggle()"
    >
      close sidenav
    </button>
    <button
      mat-stroked-button
      *ngIf="!sidenav.opened"
      (click)="sidenav.toggle()"
    >
      open sidenav
    </button>-->
  </mat-sidenav-content>
</mat-sidenav-container>
