.main-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1366px;
  margin: 0 auto;

  .main-sidenav {
    .sidenav {
      display: flex;
      flex-direction: column;
      width: 256px;
      height: 100vh;

      .logo {
        display: flex;
        align-items: center;
        width: 100%;
        height: 62px;
        padding-left: 24px;
      }

      .menu-list {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;

        .menu-item {
          display: flex;
          align-items: center;
          position: relative;
          height: 44px;
          padding-left: 72px;
          cursor: pointer;

          &::before {
            position: absolute;
            top: 10px;
            left: 19px;
          }

          &.chart-item::before {
            content: url(./../../../assets/images/chart_icon_gray.svg);
          }

          &.calendar-item::before {
            content: url(./../../../assets/images/calendar_icon_gray.svg);
          }

          &.chart-item.active::before {
            content: url(./../../../assets/images/chart_icon_white.svg);
          }

          &.calendar-item.active::before {
            content: url(./../../../assets/images/calendar_icon_white.svg);
          }

          .menu-link {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 14px;     
            color: #989898;
          }

          &.active {
            background-color: #61A946;

            .menu-link {
              font-weight: 500;
              color: #FFFFFF;
            }
          }
        }
      }

      .logout {
        display: flex;
        align-items: center;
        position: relative;
        height: 44px;
        padding-left: 16px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        color: #989898;
        cursor: pointer;

        img {
          margin-right: 36px;
        }
      }
    }
  }

  .main-sidenav-content {
    padding: 32px;
  }
}
